.active {
  color: green !important;
  color: var(--green) !important;
}

.navbar-toggler-icon {
  background-image: linear-gradient(to bottom, transparent 45%, white 45%, white 55%, transparent 55%);
  position: relative;
}

.navbar-toggler-icon::before, .navbar-toggler-icon::after {
  content: '';
  display: blcok;
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-image: linear-gradient(to bottom, transparent 15%, white 15%, white 25%, transparent 25%);
}

.navbar-toggler-icon::after {
  background-image: linear-gradient(to bottom, transparent 75%, white 75%, white 85%, transparent 85%);
}
